streamlit>=1.47.1
openai>=0.27.0
faiss-cpu>=1.7.2
transformers>=4.30.0
sentence-transformers>=2.2.0
python-dotenv>=0.20.0
torch==2.6
chromadb>=0.3.0
rich>=10.14.0
markdown-it-py>=2.2.0
pygments>=2.13.0
